.playwright-mcp/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/

.worktrees/
data/raw/*
data/intermediate/*
data/outputs/*

**/**/node_modules/
.nx/polygraph
.claude/worktrees
.claude/settings.local.json

**/**/reports
**/**/coverage

.nx
dist